* {
  font-family: sans-serif;
  color: #ebdbb2;
}

body {
  background-color: #282828;
}

h1 {
  background-color: #282828;
  padding: 0.5rem;
}

input,
button {
  background-color: #3c3836;
  border-color: #3c3836;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.forms {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #282828;
}

#preview {
  background-color: #000000;
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  width: 80%;
  padding: 0;
  margin: 0.5rem;
  height: 1.5rem;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 3px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  cursor: pointer; /* Cursor on hover */
}

.hue {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    magenta,
    red
  );
}
.saturation {
  background: linear-gradient(to right, #000000, red);
}
.light {
  background: linear-gradient(to right, #000000, red, #ffffff);
}
