* {
  font-family: sans-serif;
  color: #ebdbb2;
}

body {
  background-color: #282828;
}

input {
  background-color: #3c3836;
}

button {
  background-color: #3c3836;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.forms {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
}
